{% extends "base.html" %}

{% block title %}Edit Post{% endblock %}

{% block content %}
    <form method="POST" action="/posts/{{ post.post_id }}/edit-post">

        <label for="title">Title:</label><br>
        <input id="title" name="title" value="{{ post.title }}" required><br>

        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="10" cols="50" required>{{ post.content }}</textarea><br>
        
        <button type="submit">Save</button>
        <a href="/posts/{{ post.post_id }}/delete">Delete</a>
    </form>
{% endblock %}