{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
<form method="POST" action="/login">
    <label for="login">Login:</label><br>
    <input type="text" id="identifier" name="identifier" placeholder="Email or Username" required>
    <br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" placeholder="Enter your password here" required><br>
    <a href="/">Back</a>
    <button type="submit">Sign In</button>
</form>
{% endblock %}