{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile</h2>
<input type="checkbox" id="avatar-toggle" hidden>
<label for="avatar-toggle">
    <img src="{{ user.avatar_url }}" alt="Avatar">
</label>
<label for="avatar-toggle"></label>
<img src="{{ user.avatar_url }}" alt="Full Avatar">
<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Gender:</strong> {{ user.gender.value }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Role:</strong> {{ user.role }}</p>
<a href="/">Back</a>
{% if request.session.get("user_id") == user.user_id %}
<a href="/users/me/edit-profile">Edit</a>
{% endif %}
<h2>User Posts</h2>
{% if posts %}
{% for post in posts %}
<h3><a href="/posts/{{ post.post_id }}?from_profile=true">{{ post.title }}</a></h3>
<p>{{ post.content[:150] }}{% if post.content|length > 150 %}...{% endif %}</p>
<small>at {{ post.created_at.strftime("%Y-%m-%d %H:%M") }}</small>
{% endfor %}
{% else %}
<p>No posts found.</p>
{% endif %}
</div>
</div>
</div>
{% endblock %}