{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<div class="content-container">
    <form method="POST" action="/users/register" enctype="multipart/form-data">
        <label for="avatar">Avatar:</label>
        <input type="file" id="avatar" name="avatar" accept="image/*"><br>

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>

        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender" required>
            <option value="" disabled selected>Select your gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>

        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}