{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<form method="POST" action="/users/register" enctype="multipart/form-data">
  <input type="checkbox" id="avatar-toggle" hidden>
  <label for="avatar-toggle">
    <img src="/static/avatars/default.png" alt="Avatar">
  </label>
  <label for="avatar-toggle"></label>
  <img src="/static/avatars/default.png" alt="Full Avatar">
  <br>
  <input type="file" id="avatar_url" name="avatar_url" accept="image/*">
  <br>
  <input type="text" name="username" autocomplete="off" style="position: absolute; left: -9999px; top: -9999px;"
    tabindex="-1" />
  <label for="username">Name:</label><br>
  <input type="text" id="username" name="username" autocomplete="nope" required><br>
  <label for="gender">Gender:</label><br>
  <select id="gender" name="gender" required>
    <option value="" disabled selected>Select your gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" autocomplete="email" required><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" required><br>
  <label for="confirm_password">Confirm Password:</label><br>
  <input type="password" id="confirm_password" name="confirm_password" required><br>
  <a href="/">Back</a>
  <button type="submit">Register</button>
</form>
<!-- script>
    document.addEventListener("DOMContentLoaded", function () {
      const avatarInput = document.getElementById("avatar_url");
      const avatarPreview = document.querySelector(".avatar-label img");
      const avatarModalImg = document.querySelector(".avatar-modal img");
    
      avatarInput.addEventListener("change", function () {
        const file = this.files[0];
        if (!file) return;
    
        const reader = new FileReader();
        reader.onload = function (e) {
          avatarPreview.src = e.target.result;
          avatarModalImg.src = e.target.result;
        };
        reader.readAsDataURL(file);
      });
    });
</script -->
{% endblock %}